<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our website</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>
            Welcome to our website
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Provident laboriosam sint reprehenderit aperiam? Iusto soluta veniam, 
            vero adipisci, debitis doloremque architecto quaerat vel laboriosam fuga 
            omnis nam consequuntur nobis. Fugiat.</p>
            <button>Contact us</button>

    </div>
    
</body>
</html>